body{
    background: url("../images/background.png");
}
.head{
    margin-left:100px;
}

.container{
    margin:0 auto;
    border:5px dashed whitesmoke;
}
.row{
    border:5px dashed whitesmoke;
}
.row div{
    border:5px dashed whitesmoke;
}

.mainbody img{
    margin-top:10%;
    margin-bottom:500px;
    max-height: 100%;
}

#gameArea{
    color:white;
}

.words{
    height:40%;
}

.display{
    background:white;
    padding: 0 auto;
}

.letters{
    height:60%;
}

